{% extends 'base.html' %}

{% block title %}
  Flask Sandbox
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pos.css') }}">
{% endblock %}

{% block content %}
<header>
  <div class="text-bg-dark border-bottom">
    <div class="container m-0">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img height="32px" src="./static/img/logo.png" alt="north-logo">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <span class="d-flex justify-content-center">
                <i class="bi-house"></i>
              </span>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <span class="d-flex justify-content-center">
                <i class="bi-speedometer2"></i>
              </span>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <span class="d-flex justify-content-center">
                <i class="bi-table"></i>
              </span>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <span class="d-flex justify-content-center">
                <i class="bi-grid"></i>
              </span>
              Projects
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <span class="d-flex justify-content-center">
                <i class="bi-person-circle"></i>
              </span>
              Suppliers
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
{% block stock %}{% endblock %}
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctx = document.getElementById('otd-po-1');
    const data = {
    labels: [
      'Red',
      'Blue'
    ],
    datasets: [{
      label: 'OTD',
      data: [300, 50],
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)'
      ],
      hoverOffset: 4
    }]
  };
  
    new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options: {
        rotation: -90,
        circumference: 180,
        plugins: {
            legend: {
                display: false
            },
        },
        scales: {
          y: {
            display: false
          }
        }
      }
    });

    const qc = document.getElementById('qc-po-1');
    const data_2 = {
    labels: [
      'Red',
      'Blue'
    ],
    datasets: [{
      label: 'QC',
      data: [25, 50],
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)'
      ],
      hoverOffset: 4
    }]
  };
  
    new Chart(qc, {
      type: 'doughnut',
      data: data_2,
      options: {
        rotation: -90,
        circumference: 180,
        plugins: {
            legend: {
                display: false
            },
        },
        scales: {
          y: {
            display: false
          }
        }
      }
    });

    const ctx_3 = document.getElementById('otd-po-2');
    const data_3 = {
    labels: [
      'Red',
      'Blue'
    ],
    datasets: [{
      label: 'OTD',
      data: [30, 50],
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)'
      ],
      hoverOffset: 4
    }]
  };
  
    new Chart(ctx_3, {
      type: 'doughnut',
      data: data_3,
      options: {
        rotation: -90,
        circumference: 180,
        plugins: {
            legend: {
                display: false
            },
        },
        scales: {
          y: {
            display: false
          }
        }
      }
    });

    const qc_4 = document.getElementById('qc-po-2');
    const data_4 = {
    labels: [
      'Red',
      'Blue'
    ],
    datasets: [{
      label: 'QC',
      data: [25, 75],
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)'
      ],
      hoverOffset: 4
    }]
  };
  
    new Chart(qc_4, {
      type: 'doughnut',
      data: data_4,
      options: {
        rotation: -90,
        circumference: 180,
        plugins: {
            legend: {
                display: false
            },
        },
        scales: {
          y: {
            display: false
          }
        }
      }
    });
  </script>
  <!-- <script src="{{ url_for('static', filename='cs.js/main.js') }}"></script>-->
{% endblock %}
