{% extends 'base.html' %}

{% block title %}
  Flask Sandbox
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pos.css') }}">
{% endblock %}

{% block content %}
<header>
  <div class="text-bg-dark border-bottom">
    <div class="container m-0">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img height="32px" src="./static/img/logo.png" alt="north-logo">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <span class="d-flex justify-content-center">
                <i class="bi-house"></i>
              </span>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <span class="d-flex justify-content-center">
                <i class="bi-speedometer2"></i>
              </span>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <span class="d-flex justify-content-center">
                <i class="bi-table"></i>
              </span>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <span class="d-flex justify-content-center">
                <i class="bi-grid"></i>
              </span>
              Projects
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <span class="d-flex justify-content-center">
                <i class="bi-person-circle"></i>
              </span>
              Suppliers
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
{% block stock %}{% endblock %}
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/po.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='cs.js/main.js') }}"></script>-->
{% endblock %}
