.fixed-top {
  z-index: 1099 !important;
}

.main-page {
  padding-top: 3.5rem;
  .anchor-link {
    scroll-margin-top: 3.5rem;
  }
}

.bert-page-has-navbar {
  padding-top: 3.5rem;
  .anchor-link {
    scroll-margin-top: 3.5rem;
  }
}